@import url(https://github.com/appropriation1234/FIAP/blob/main/yoru.gif?raw=true);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --text-primary: #FFF;
    --font-heading: 'Poppins';
    --fon-default: 'Montserrat';
    --text-secundary: #000;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fon-default);
    color: var(--text-primary);
}


#hamburguer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 30px;
    width: 3rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 11;
}

#hamburguer .linha{
    width: 100%;
    height: .5rem;
    background-color: white;
    box-shadow: 0 .2rem .2rem #000;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    right: -20rem;
    text-decoration: none;
    background-color: white;
    height: 100vh;
    width: 20rem;
    z-index: 10;
    transition: right 1s;
}

#Menu li{

list-style: none;
}

#Menu a{
    text-decoration: none;
    color: var(--text-secundary);
    font-size: 25px;
}

#Menu a:hover{
    color: purple;
}

.menu-show{
    right: 0;

}

header{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-image: url(/images/giphy.gif);
    width: 100%;
    background-size: cover;
    padding: 50rem;
}
h1 {
    font-size: 3rem;
}


.button{
    background: linear-gradient(90deg, #6A3093, #A044FF);
    padding: 1rem 3rem;
    border-radius: 7px;
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    width: 250px;
    text-align: center;
}

.button2{
    background: linear-gradient(90deg, #933030, #933010);
    padding: 1rem 3rem;
    border-radius: 7px;
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    width: 50rem;
    text-align: center;
    margin-left: -900px;
    display: block;

}

.button3{
    background: linear-gradient(90deg, #933030, #933010);
    padding: 1rem 3rem;
    border-radius: 7px;
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    width: 50rem;
    text-align: center;
    margin-left: -900px;
    display: block;

}

.button4{
    background: linear-gradient(90deg, #933030, #933010);
    padding: 1rem 3rem;
    border-radius: 7px;
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    width: 50rem;
    text-align: center;
    margin-left: -900px;
    display: block;

}

.button5{
    background: linear-gradient(90deg, #933030, #933010);
    padding: 1rem 3rem;
    border-radius: 7px;
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    width: 50rem;
    text-align: center;
    margin-left: -900px;
    display: block;

}



img.avatar{
    border-radius: 50%;
    margin-top: -980px;
    margin-left: 70px;
    
}


img.avatar2{
    margin-top: 0px;
    border-radius: 0%;
    width: 100%;
}


.container img {
    display: block;
    margin-bottom: 20px;
  }

.section-presentation{
    display: flex;
    color: var(--text-secundary);

}
.section-presentation div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}


#section-budget{
    display: flex;
    height: 500px;
    background-image: url();
    justify-content: center;
    align-items: center;
    background-image: url('https://github.com/appropriation1234/FIAP/blob/main/Beginners-Guide-to-VALORANT.jpg?raw=true');
    background-size: cover;
}


#section-budget form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    column-gap: 10px;
    row-gap: 1rem;
    background-color: #8c8c8c99;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    width: 80%;
    padding: 2rem;
    font-size: 20px;
}

#section-budget form h3{
    position: absolute;
    top: -10%;
    background-color: #6A3093;
    padding: .3rem 2rem;
    border-radius: 15%;
}

#section-budget form-output{
    grid-column: 2;
}

#texto2 {
    position: absolute;
    height: 70px;
    top: -120px;
    font-size: 20px;
    width: 500px;
    left: 0;
    margin-left: -900px;
    border-radius: 1%;
    display: none;
    color: white;
    background: linear-gradient(90deg, hsla(0, 1%, 15%, 0.658), hsla(0, 2%, 12%, 0.589));
  }
  #texto3 {
    position: relative;
    height: 70px;
    top: -120px;
    font-size: 20px;
    border-radius: 1%;
    width: 500px;
    left: 0;
    margin-left: -900px;
    display: none;
    color: white;
    background: linear-gradient(90deg, hsla(0, 1%, 15%, 0.658), hsla(0, 2%, 12%, 0.589));
  }

  #texto4 {
    position: relative;
    border-radius: 1%;
    height: 70px;
    top: -120px;
    font-size: 20px;
    width: 500px;
    left: 0;
    margin-left: -900px;
    display: none;
    color: white;
    background: linear-gradient(90deg, hsla(0, 1%, 15%, 0.658), hsla(0, 2%, 12%, 0.589));
  }

  #texto5 {
    position: relative;
    height: 70px;
    border-radius: 1%;
    top: -120px;
    font-size: 20px;
    width: 500px;
    left: 0;
    margin-left: -900px;
    display: none;
    color: white;
    background: linear-gradient(90deg, hsla(0, 1%, 15%, 0.658), hsla(0, 2%, 12%, 0.589));
  }

  