@import url(https://github.com/appropriation1234/FIAP/blob/main/yoru.gif?raw=true);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --text-primary: #FFF;
    --font-heading: 'Poppins';
    --fon-default: 'Montserrat';
    --text-secundary: #000;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fon-default);
    color: var(--text-primary);
}

header{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-image: url(/images/giphy.gif);
    width: 100%;
    background-size: cover;
    padding: 50rem;
}
h1 {
    font-size: 3rem;
}


.button{
    background: linear-gradient(90deg, #6A3093, #A044FF);
    padding: 1rem 3rem;
    border-radius: 7px;
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    width: 250px;
    text-align: center;
}

.button2{
    background: linear-gradient(90deg, #933030, #933010);
    padding: 1rem 3rem;
    border-radius: 7px;
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    width: 50rem;
    text-align: center;
    margin-left: -900px;

}


img.avatar{
    border-radius: 50%;
    margin-top: -980px;
    margin-left: 70px;
    
}


img.avatar2{
    margin-top: 0px;
    border-radius: 0%;
    width: 100%;
}


.container img {
    display: block;
    margin-bottom: 20px;
  }

.section-presentation{
    display: flex;
    color: var(--text-secundary);

}
.section-presentation div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
